<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">*
        <title>MCDR Web Remoter</title>
    </head>
    <body style="background-color: azure;">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 class="navbar-text navbar-left">MCDR Web Remoter</h1>
                </div>
        </nav>
        <div class="container-fluid" >
            <p>请不要直接访问该页面！</p>
            <a href="/">返回 Back</a>
        </div>
        
    </body>
</html>